@import "@ui/variables.module.scss";

.input {
  width: 250px;
  height: 50px;
  padding-top: 5px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: normal;
  color: $main_gray_2280_color;
  border-bottom: 2px solid $main_gray_2220_color;
}

.input::placeholder {
  color: $main_gray_a1_color;
}

.input:focus {
  color: $main_black_color;
  border-bottom: 2px solid $main_black_color;
  font-weight: bold;
}

.input__icon__group {
  width: 250px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

input:focus ~ img {
  opacity: 0.6;
}
