$main_black_color: #212121;
$main_black_2170_color: #21212170;
$main_black_2190_color: #21212190;
$main_blue_color: #00bfff;
$main_gray_f9_color: #f9f9f9;
$main_gray_a1_color: #a1a1a1;
$main_gray_22_color: #222222;
$main_gray_2208_color: #22222208;
$main_gray_2b_color: #2b2b2b;
$main_gray_44_color: #444;
$main_gray_2280_color: #22222280;
$main_blue_02_color: rgba(39, 120, 182, 0.2);
$main_call_line_default_color: rgb(2, 0, 36);
$main_gray_41_color: #414141;
$main_black_95_color: #00000095;
$main_white_color: #fff;
$main_white_f7_color: #f7f7f7;
$main_white_smoky_color: #f0f0f0;
$main_white_smoky_ee90_color: #eeeeee90;
$main_white_ff95_color: #ffffff95;
$main_gray_aa_color: #aaaaaa;
$main_gray_93_color: #939393;
$main_gradient_call_line_color: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(191, 247, 124, 1) 0%, rgba(23, 230, 78, 1) 100%);
