@import "@ui/variables.module.scss";

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 40px;
  margin-bottom: 40px;
  padding: 10px;
}

.card__content__notfound {
  font-weight: bold;
  color: $main_black_2190_color;
}
